distribution/src/main/samples/routing/xml_http_soap_jms/wsdl/router.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.objectweb.org/addNumbers" name="AddNumbers"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xformat="http://celtix.objectweb.org/bindings/xmlformat"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:jms="http://celtix.objectweb.org/transports/jms" 
    xmlns:router="http://celtix.objectweb.org/routing/configuration" 
    xmlns:tns="http://www.objectweb.org/addNumbers" 
    xmlns:x1="http://www.objectweb.org/addNumbers/types">
    <!--Used for XMLHTTP to SOAPJMS Router Demo-->
    <router:route name="xmlhttp_to_soapjms_route">
        <router:source port="AddNumbersPort" service="tns:AddNumbersXMLService"/>
        <router:destination port="AddNumbersPort" service="tns:AddNumbersSOAPService"/>
    </router:route>
    <!--END-->
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://www.objectweb.org/addNumbers/types" elementFormDefault="qualified">
            <complexType name="addNumbersResponse">
                <sequence>
                    <element name="return" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbersResponse" type="x1:addNumbersResponse"/>
            <complexType name="addNumbers">
                <sequence>
                    <element name="arg0" type="xsd:int"/>
                    <element name="arg1" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbers" type="x1:addNumbers"/>
            <element name="FaultDetail" type="x1:FaultDetail"/>
            <complexType name="FaultDetail">
                <sequence>
                    <element name="faultInfo" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </types>
    <message name="addNumbers">
        <part name="parameters" element="x1:addNumbers"/>
    </message>
    <message name="addNumbersResponse">
        <part name="result" element="x1:addNumbersResponse"/>
    </message>
    <message name="addNumbersFault">
        <part name="AddNumbersFault" element="x1:FaultDetail"/>
    </message>
    <portType name="AddNumbers">
        <operation name="addNumbers">
            <input message="tns:addNumbers"/>
            <output message="tns:addNumbersResponse"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
    </portType>
    <binding name="AddNumbersXMLBinding" type="tns:AddNumbers">
        <xformat:binding/>
        <operation name="addNumbers">
            <input/>
            <output/>
            <fault name="addNumbersFault"/>
        </operation>
    </binding>
    <binding name="AddNumbersSOAPBinding" type="tns:AddNumbers">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addNumbers">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AddNumbersXMLService">
        <port name="AddNumbersPort" binding="tns:AddNumbersXMLBinding">
            <http:address location="http://localhost:9001/AddNumbersXMLService/AddNumbersPort"/>
        </port>
    </service>
    <service name="AddNumbersSOAPService">
        <port name="AddNumbersPort" binding="tns:AddNumbersSOAPBinding">
            <jms:address jndiConnectionFactoryName="ConnectionFactory" jndiDestinationName="dynamicQueues/demo.soap_jmsQ.text">
                <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61616"/>
            </jms:address>
        </port>
    </service>
</definitions>
