tools/wsdlto/test/src/test/resources/wsdl2java_wsdl/pizza.wsdl

<?xml version="1.0" ?>
<wsdl:definitions 
        name="PizzaService"
        targetNamespace="http://mypizzaco.com/pizza"
        xmlns:tns="http://mypizzaco.com/pizza"
        xmlns:types="http://mypizzaco.com/pizza/types"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            
  <wsdl:types>
    <xsd:schema targetNamespace="http://mypizzaco.com/pizza/types"
               xmlns:tns="http://mypizzaco.com/pizza/types"
			   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			   elementFormDefault="qualified"
			   version="1.0">

      <xsd:element name="CallerIDHeader" type="tns:CallerIDHeaderType" />
	  
      <xsd:complexType name="CallerIDHeaderType">
        <xsd:sequence>
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="PhoneNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      
	  <xsd:element name="OrderPizza" type="tns:OrderPizzaType" />
	  
      <xsd:complexType name="OrderPizzaType">
        <xsd:sequence>
          <xsd:element name="Toppings" type="tns:ToppingsListType" />
        </xsd:sequence>
      </xsd:complexType>
	  
      <xsd:element name="OrderPizzaResponse" type="tns:OrderPizzaResponseType" />

      <xsd:complexType name="OrderPizzaResponseType">
        <xsd:sequence>
          <xsd:element name="MinutesUntilReady" type="xsd:int" /> 
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ToppingsListType">
        <xsd:sequence>
          <xsd:element name="Topping" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="CallerIDHeader">
    <wsdl:part name="callerID" element="types:CallerIDHeader"/>
  </wsdl:message>	
  <wsdl:message name="OrderPizzaBrokenRequest">
    <wsdl:part name="body" element="types:OrderPizza"/>
  </wsdl:message>	
  <wsdl:message name="OrderPizzaBrokenResponse">
    <wsdl:part name="body" element="types:OrderPizzaResponse"/>
  </wsdl:message>
  <wsdl:message name="OrderPizzaRequest">
    <wsdl:part name="body" element="types:OrderPizza"/>
    <wsdl:part name="callerID" element="types:CallerIDHeader"/>
  </wsdl:message>	
  <wsdl:message name="OrderPizzaResponse">
    <wsdl:part name="body" element="types:OrderPizzaResponse"/>
  </wsdl:message>
  	
  <wsdl:portType name="PizzaPortType">
    <wsdl:operation name="OrderPizzaBroken">
      <wsdl:input message="tns:OrderPizzaBrokenRequest" />
      <wsdl:output message="tns:OrderPizzaBrokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="OrderPizza">
      <wsdl:input message="tns:OrderPizzaRequest" />
      <wsdl:output message="tns:OrderPizzaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="PizzaPortBinding" type="tns:PizzaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="OrderPizzaBroken">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:header message="tns:CallerIDHeader" part="callerID" use="literal" />
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderPizza">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:header message="tns:OrderPizzaRequest" part="callerID" use="literal" />
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PizzaService">
    <wsdl:port name="PizzaPort" binding="tns:PizzaPortBinding">
      <soap:address location="http://localhost:8080/pizza_service/services/PizzaService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>