1.0-beta-1/celtix-testutils/src/main/resources/wsdl/jms_test_no_addr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HelloWorldService" targetNamespace="http://celtix.objectweb.org/jms_conf_test" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:jms="http://celtix.objectweb.org/transports/jms" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://celtix.objectweb.org/jms_conf_test" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://celtix.objectweb.org/jms_conf_test/xsd">
    <message name="greetMe">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMeResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sayHi"/>
    <message name="sayHiResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="greetMeOneWay">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    
    <portType name="HelloWorldPortType">
        <operation name="greetMe">
            <input message="tns:greetMe" name="greetMe"/>
            <output message="tns:greetMeResponse" name="greetMeResponse"/>
        </operation>
        <operation name="sayHi">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>

    <binding name="HelloWorldQueueBinMsgBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://celtix.objectweb.org/transports/jms"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://celtix.objectweb.org/jms_conf_test" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://celtix.objectweb.org/jms_conf_test" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://celtix.objectweb.org/jms_conf_test" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://celtix.objectweb.org/jms_conf_test" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/jms_conf_test" use="literal"/>
            </input>
        </operation>
    </binding>
    
    <service name="HelloWorldQueueBinMsgService">
        <port binding="tns:HelloWorldQueueBinMsgBinding" name="HelloWorldQueueBinMsgPort">
        </port>
    </service>    
</definitions>


