celtix-tools/misctools/src/test/resources/wsdl/hello_world_messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloWorld"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://objectweb.org/hello_world/messages"
    xmlns:x1="http://objectweb.org/hello_world/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://objectweb.org/hello_world/messages">
    <wsdl:types>
        <schema
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:x1="http://objectweb.org/hello_world/types"
            targetNamespace="http://objectweb.org/hello_world/types"
            elementFormDefault="qualified">
            <element name="sayHi">
                <complexType/>
            </element>
            <element name="sayHiResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="pingMe">
                <complexType/>
            </element>
            <element name="pingMeResponse">
                <complexType/>
            </element>
            <element name="faultDetail">
                <complexType>
                    <sequence>
                        <element name="minor" type="short" form="qualified" minOccurs="0"/>
                        <element name="major" type="short" form="qualified" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sayHiRequest">
        <wsdl:part name="in" element="x1:sayHi"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part name="out" element="x1:sayHiResponse"/>
    </wsdl:message>
    <wsdl:message name="greetMeRequest">
        <wsdl:part name="in" element="x1:greetMe"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part name="out" element="x1:greetMeResponse"/>
    </wsdl:message>
    <wsdl:message name="pingMeRequest">
        <wsdl:part name="in" element="x1:pingMe"/>
    </wsdl:message>
    <wsdl:message name="pingMeResponse">
        <wsdl:part name="out" element="x1:pingMeResponse"/>
    </wsdl:message>
    <wsdl:message name="pingMeFault">
        <wsdl:part name="faultDetail" element="x1:faultDetail"/>
    </wsdl:message>
</wsdl:definitions>
