test/wsdl/hello_world.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloWorld" targetNamespace="http://objectweb.org/hello_world_soap_http" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://objectweb.org/hello_world_soap_http"
    xmlns:x1="http://objectweb.org/hello_world_soap_http/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://objectweb.org/hello_world_soap_http/types" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:x1="http://objectweb.org/hello_world_soap_http/types" elementFormDefault="qualified">
            <element name="sayHi">
                <complexType/>
            </element>
            <element name="sayHiResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="testDocLitFault">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
            <element name="testDocLitFaultResponse">
                <complexType>
                    <sequence/>
                </complexType>
            </element>

            <complexType name="ErrorCode">
                <sequence>
                    <element name="minor" type="xsd:short"/>
                    <element name="major" type="xsd:short"/>
                </sequence>
            </complexType>

            <element name="NoSuchCodeLit">
                <complexType>
                    <sequence>
                        <element name="code" type="x1:ErrorCode"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sayHiRequest">
        <wsdl:part element="x1:sayHi" name="in"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part element="x1:sayHiResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="greetMeRequest">
        <wsdl:part element="x1:greetMe" name="in"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part element="x1:greetMeResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="testDocLitFaultRequest">
        <wsdl:part element="x1:testDocLitFault" name="in"/>
    </wsdl:message>
    <wsdl:message name="testDocLitFaultResponse">
        <wsdl:part element="x1:testDocLitFaultResponse" name="out"/>
    </wsdl:message>
    <wsdl:message name="LiteralException">
        <wsdl:part element="x1:NoSuchCodeLit" name="NoSuchCodeLit"/>
    </wsdl:message>
    <wsdl:portType name="Greeter">
        <wsdl:operation name="sayHi">
            <wsdl:input message="tns:sayHiRequest" name="sayHiRequest"/>
            <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <wsdl:input message="tns:greetMeRequest" name="greetMeRequest"/>
            <wsdl:output message="tns:greetMeResponse" name="greetMeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testDocLitFault">
            <wsdl:input message="tns:testDocLitFaultRequest" name="testDocLitFaultRequest"/>
            <wsdl:output message="tns:testDocLitFaultResponse" name="testDocLitFaultResponse"/>
            <wsdl:fault  message="tns:LiteralException" name="LiteralException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHi">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHiRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="greetMeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="greetMeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testDocLitFault">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="testDocLitFaultRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="testDocLitFaultResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LiteralException">
                <soap:fault name="LiteralException" use="literal" /> 
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SOAPService">
        <wsdl:port binding="tns:Greeter_SOAPBinding" name="SoapPort">
            <soap:address location="http://localhost:9000"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
