rt/core/src/test/resources/DiffPortTypeNs-Import.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://cxf.apache.org/DiffPortTypeNs-Import/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiffPortTypeNs-Import"
    targetNamespace="http://cxf.apache.org/DiffPortTypeNs-Import/">

    <wsdl:message name="NewOperationResponse">
        <wsdl:part name="NewOperationResponse" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="NewOperationRequest">
        <wsdl:part name="NewOperationRequest" type="xsd:string" />
    </wsdl:message>
    <wsdl:portType name="DiffPortTypeNs">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewOperationRequest" />
            <wsdl:output message="tns:NewOperationResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="NewOperationResponseRpc">
        <wsdl:part name="NewOperationResponseRpc" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="NewOperationRequestRpc">
        <wsdl:part name="NewOperationRequestRpc" type="xsd:string" />
    </wsdl:message>
    <wsdl:portType name="DiffPortTypeNsRpc">
        <wsdl:operation name="NewOperationRpc">
            <wsdl:input message="tns:NewOperationRequestRpc" />
            <wsdl:output message="tns:NewOperationResponseRpc" />
        </wsdl:operation>
    </wsdl:portType>

</wsdl:definitions>