milestone2/test/wsdl/hello_world.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http-conf="http://schemas.iona.com/transports/http/configuration" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://objectweb.org/hello_world_soap_http" xmlns:x1="http://objectweb.org/hello_world_soap_http/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://objectweb.org/hello_world_soap_http" name="HelloWorld">
	<wsdl:types>
		<schema targetNamespace="http://objectweb.org/hello_world_soap_http/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:x1="http://objectweb.org/hello_world_soap_http/types" elementFormDefault="qualified">
			<element name="sayHi">
				<complexType/>
			</element>
			<element name="sayHiResponse">
				<complexType>
					<sequence>
						<element name="responseType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="greetMe">
				<complexType>
					<sequence>
						<element name="requestType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="greetMeResponse">
				<complexType>
					<sequence>
						<element name="responseType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="greetMeOneWay">
				<complexType>
					<sequence>
						<element name="requestType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="testDocLitFault">
				<complexType>
					<sequence>
						<element name="faultType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="testDocLitFaultResponse">
				<complexType>
					<sequence/>
				</complexType>
			</element>
			<complexType name="ErrorCode">
				<sequence>
					<element name="minor" type="xsd:short"/>
					<element name="major" type="xsd:short"/>
				</sequence>
			</complexType>
			<element name="NoSuchCodeLit">
				<complexType>
					<sequence>
						<element name="code" type="x1:ErrorCode"/>
					</sequence>
				</complexType>
			</element>
			<element name="BadRecordLit" type="xsd:string"/>
			<xsd:complexType name="BadRecord">
				<xsd:sequence>
					<xsd:element name="reason" type="xsd:string"/>
					<xsd:element name="code" type="xsd:short"/>
				</xsd:sequence>
			</xsd:complexType>
			<complexType name="addNumbers">
				<sequence>
					<element name="arg0" type="xsd:int"/>
					<element name="arg1" type="xsd:int"/>
				</sequence>
			</complexType>
			<element name="addNumbers" type="x1:addNumbers"/>
			<complexType name="addNumbersResponse">
				<sequence>
					<element name="return" type="xsd:int"/>
				</sequence>
			</complexType>
			<element name="addNumbersResponse" type="x1:addNumbersResponse"/>			
		</schema>
	</wsdl:types>
	<wsdl:message name="sayHiRequest">
		<wsdl:part name="in" element="x1:sayHi"/>
	</wsdl:message>
	<wsdl:message name="sayHiResponse">
		<wsdl:part name="out" element="x1:sayHiResponse"/>
	</wsdl:message>
	<wsdl:message name="greetMeRequest">
		<wsdl:part name="in" element="x1:greetMe"/>
	</wsdl:message>
	<wsdl:message name="greetMeResponse">
		<wsdl:part name="out" element="x1:greetMeResponse"/>
	</wsdl:message>
	<wsdl:message name="greetMeOneWayRequest">
		<wsdl:part name="in" element="x1:greetMeOneWay"/>
	</wsdl:message>
	<wsdl:message name="testDocLitFaultRequest">
		<wsdl:part name="in" element="x1:testDocLitFault"/>
	</wsdl:message>
	<wsdl:message name="testDocLitFaultResponse">
		<wsdl:part name="out" element="x1:testDocLitFaultResponse"/>
	</wsdl:message>
	<wsdl:message name="NoSuchCodeLitFault">
		<wsdl:part name="NoSuchCodeLit" element="x1:NoSuchCodeLit"/>
	</wsdl:message>
	<wsdl:message name="BadRecordLitFault">
		<wsdl:part name="BadRecordLit" element="x1:BadRecordLit"/>
	</wsdl:message>
	<wsdl:portType name="Greeter">
		<wsdl:operation name="sayHi">
			<wsdl:input name="sayHiRequest" message="tns:sayHiRequest"/>
			<wsdl:output name="sayHiResponse" message="tns:sayHiResponse"/>
		</wsdl:operation>
		<wsdl:operation name="greetMe">
			<wsdl:input name="greetMeRequest" message="tns:greetMeRequest"/>
			<wsdl:output name="greetMeResponse" message="tns:greetMeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="greetMeOneWay">
			<wsdl:input name="greetMeOneWayRequest" message="tns:greetMeOneWayRequest"/>
		</wsdl:operation>
		<wsdl:operation name="testDocLitFault">
			<wsdl:input name="testDocLitFaultRequest" message="tns:testDocLitFaultRequest"/>
			<wsdl:output name="testDocLitFaultResponse" message="tns:testDocLitFaultResponse"/>
			<wsdl:fault name="NoSuchCodeLitFault" message="tns:NoSuchCodeLitFault"/>
			<wsdl:fault name="BadRecordLitFault" message="tns:BadRecordLitFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sayHi">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="greetMe">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="greetMeOneWay">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="testDocLitFault">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NoSuchCodeLitFault">
				<soap:fault name="NoSuchCodeLitFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="BadRecordLitFault">
				<soap:fault name="BadRecordLitFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SOAPService">
		<wsdl:port name="SoapPort" binding="tns:Greeter_SOAPBinding">
			<soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
			<http-conf:client/>
			<http-conf:server/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SOAPService_Test1">
		<wsdl:port name="SoapPort_Test1" binding="tns:Greeter_SOAPBinding">
			<soap:address location="http://localhost:9100"/>
			<http-conf:client/>
			<http-conf:server/>
		</wsdl:port>
		<wsdl:port name="SoapPort_Test2" binding="tns:Greeter_SOAPBinding">
			<soap:address location="http://localhost:9101"/>
			<http-conf:client/>
			<http-conf:server/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
