pre_apache/tools/wsdl2java/src/test/resources/wsdl/extra/basic_sql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DB" targetNamespace="http://www.iona.com" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:http-conf="http://schemas.iona.com/transports/http/configuration" 
    xmlns:ns1="http://www.iona.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.iona.com/xsd">
    <wsdl:types>
        <schema targetNamespace="http://www.iona.com/xsd" 
            xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="findEmployeeByID">
                <complexType>
                    <sequence>
                        <element name="employeeId" type="int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="findEmployeeByIDResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="return" 
                            type="xsd1:findEmployeeByIDResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="DBServiceFault">
                <complexType>
                    <sequence>
                        <element name="message" type="string"/>
                        <element name="category" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="findEmployeeCount">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
            <element name="findEmployeeCountResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="return" 
                            type="xsd1:findEmployeeCountResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateEmployeeDetail">
                <complexType>
                    <sequence>
                        <element name="phoneNumber" type="int"/>
                        <element name="employeeName" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateEmployeeDetailResponse">
                <complexType>
                    <sequence>
                        <element name="updateCount" type="int"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="findEmployeeByIDResponseType">
                <sequence>
                    <element name="ID" type="int"/>
                    <element name="Name" type="string"/>
                    <element name="PhoneNumber" type="int"/>
                </sequence>
            </complexType>
            <complexType name="findEmployeeCountResponseType">
                <sequence>
                    <element name="Count" type="decimal"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="findEmployeeByID">
        <wsdl:part element="xsd1:findEmployeeByID" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="findEmployeeByIDResponse">
        <wsdl:part element="xsd1:findEmployeeByIDResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DBServiceFault">
        <wsdl:part element="xsd1:DBServiceFault" name="DBServiceFault"/>
    </wsdl:message>
    <wsdl:message name="findEmployeeCount">
        <wsdl:part element="xsd1:findEmployeeCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="findEmployeeCountResponse">
        <wsdl:part element="xsd1:findEmployeeCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeeDetail">
        <wsdl:part element="xsd1:updateEmployeeDetail" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeeDetailResponse">
        <wsdl:part element="xsd1:updateEmployeeDetailResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="DB">
        <wsdl:operation name="findEmployeeByID">
            <wsdl:input message="ns1:findEmployeeByID" name="findEmployeeByID"/>
            <wsdl:output message="ns1:findEmployeeByIDResponse" 
                name="findEmployeeByIDResponse"/>
            <wsdl:fault message="ns1:DBServiceFault" name="DBServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="findEmployeeCount">
            <wsdl:input message="ns1:findEmployeeCount" name="findEmployeeCount"/>
            <wsdl:output message="ns1:findEmployeeCountResponse" 
                name="findEmployeeCountResponse"/>
            <wsdl:fault message="ns1:DBServiceFault" name="DBServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeeDetail">
            <wsdl:input message="ns1:updateEmployeeDetail" name="updateEmployeeDetail"/>
            <wsdl:output message="ns1:updateEmployeeDetailResponse" 
                name="updateEmployeeDetailResponse"/>
            <wsdl:fault message="ns1:DBServiceFault" name="DBServiceFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DBSOAPBinding" type="ns1:DB">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findEmployeeByID">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findEmployeeByID">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findEmployeeByIDResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DBServiceFault">
                <soap:fault name="DBServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEmployeeCount">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findEmployeeCount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findEmployeeCountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DBServiceFault">
                <soap:fault name="DBServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeeDetail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateEmployeeDetail">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateEmployeeDetailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DBServiceFault">
                <soap:fault name="DBServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DB">
        <wsdl:port binding="ns1:DBSOAPBinding" name="DBSOAPBinding_Port">
            <http:address location="http://localhost:9000/DBConnection"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
