1.0/celtix-tools/src/test/resources/wsdl/doc_lit_bare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://objectweb.org/hello_world_doc_lit_bare" xmlns:x1="http://objectweb.org/hello_world_doc_lit_bare/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://objectweb.org/hello_world_doc_lit_bare" name="DocLitBare" elementFormDefault="qualified">
	<wsdl:types>
		<schema targetNamespace="http://objectweb.org/hello_world_doc_lit_bare/types" xmlns:tns="http://objectweb.org/hello_world_doc_lit_bare/types" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
			<complexType name="TradePriceData">
				<sequence>
					<element name="tickerSymbol" type="xsd:string"/>
					<element name="tickerPrice" type="xsd:float"/>
				</sequence>
			</complexType>
			<element name="in" type="tns:TradePriceData"/>
			<element name="inout" type="tns:TradePriceData"/>
		</schema>
	</wsdl:types>
	<message name="PutLastTradedPriceInput">
		<part name="body" element="x1:in"/>
	</message>
	<message name="PutLastTradedPriceOutput"/>

	<message name="SayHiInput">
		<part name="body" element="x1:inout"/>
	</message>
	<message name="SayHiOutput">
		<part name="body" element="x1:inout"/>
	</message>

	<message name="GreetMeInput">
		<part name="body1" element="x1:inout"/>		
		<part name="body2" element="x1:in"/>
	</message>
	<message name="GreetMeOutput">
		<part name="body1" element="x1:inout"/>
	</message>
	
	<portType name="PutLastTradedPricePortType">

		<operation name="GreetMe">
			<input message="tns:GreetMeInput"/>
			<output message="tns:GreetMeOutput"/>
		</operation>

		<operation name="SayHi">
			<input message="tns:SayHiInput"/>
			<output message="tns:SayHiOutput"/>
		</operation>
	
		<operation name="PutLastTradedPrice">
			<input message="tns:PutLastTradedPriceInput"/>
			<output message="tns:PutLastTradedPriceOutput"/>
		</operation>
	</portType>
	<binding name="PutLastTradedPriceSoapBinding" type="tns:PutLastTradedPricePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="GreetMe">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>

		<operation name="SayHi">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="PutLastTradedPrice">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<wsdl:service name="SOAPService">
		<wsdl:port name="SoapPort" binding="tns:PutLastTradedPriceSoapBinding">
			<soap:address location="http://localhost:9003/SOAPDocLitBareService/SoapPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
