tools/wsdlto/test/src/test/resources/wsdl2java_wsdl/cxf939/bug.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://bugs.cxf/services/bug1" 
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		  targetNamespace="http://bugs.cxf/services/bug1" name="bug1">
    
    <!-- customizations with global scope below it shows the default customizations -->
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
	<jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
	<jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
    </jaxws:bindings>

    <wsdl:types>
	<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		elementFormDefault="qualified" 
		attributeFormDefault="qualified" 
		targetNamespace="http://bugs.cxf/services/bug1">

	    <xsd:complexType name="requestDataType">
		<xsd:sequence>
		    <xsd:element name="myInputString" type="xsd:string"/>
		</xsd:sequence>
	    </xsd:complexType>

	    <xsd:complexType name="responseDataType">
		<xsd:sequence>
		    <xsd:element name="myOutputString" type="xsd:string"/>
		</xsd:sequence>
	    </xsd:complexType>
	    
	    <element name="myBug1" type="tns:requestDataType"/>
	    <element name="myBug1Response" type="tns:responseDataType"/>		
	</schema>
    </wsdl:types>
    
    <wsdl:message name="myBug1RequestMessage">
	<wsdl:part name="parameters" element="tns:myBug1"/>
    </wsdl:message>
    <wsdl:message name="myBug1ResponseMessage">
	<wsdl:part name="parameters" element="tns:myBug1Response"/>
    </wsdl:message>
    
    <wsdl:portType name="myBug1Port">
	<wsdl:operation name="myBug1">
	    <wsdl:input message="tns:myBug1RequestMessage"/>
	    <wsdl:output message="tns:myBug1ResponseMessage"/>
	</wsdl:operation>
	<wsdl:operation name="myBug2">
	    <wsdl:input message="tns:myBug1RequestMessage"/>
	    <wsdl:output message="tns:myBug1ResponseMessage"/>
	</wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="myBug1PortSoapBinding" type="tns:myBug1Port">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

	<wsdl:operation name="myBug1">
	    <soap:operation style="document"/>
	    <wsdl:input>
		<soap:body use="literal"/>
	    </wsdl:input>
	    <wsdl:output>
		<soap:body use="literal"/>
	    </wsdl:output>
	</wsdl:operation>

	<wsdl:operation name="myBug2">
	    <soap:operation style="document"/>
	    <wsdl:input>
		<soap:body use="literal"/>
	    </wsdl:input>
	    <wsdl:output>
		<soap:body use="literal"/>
	    </wsdl:output>
	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="myBug1Service">
	<wsdl:port name="myBug1" binding="tns:myBug1PortSoapBinding">
	    <soap:address location="http://REPLACE_WITH_HOST_INFO/myBug1"/>
	</wsdl:port>
    </wsdl:service>
</wsdl:definitions>