pre_maven2/samples/hello_world_JMS_queue/wsdl/hello_world_jms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Currently Celtix uses the JAX-WS reference implementation's code
    generator.  This code generator does not recognize the <jms:address>
    element (under the <port> element), which is used to configure the
    JMS transport.  The reference implementation's code generator will
    raise an exception indicating that a usable address does not exist
    in the WSDL file.

    To work around this situation, this WSDL file's <port> includes a 
    <soap:address> as well as a <jms:address> child element.  The
    <soap:address> element satisfies the code generator's requirements
    and the <jms:address> element is used to configure the JMS
    transport.

    When configuring a port, Celtix uses the first <address> element, 
    which is the <jms:address> entry.
-->

<definitions name="HelloWorldService" targetNamespace="http://celtix.objectweb.org/hello_world_jms" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:jms="http://celtix.objectweb.org/transports/jms" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://celtix.objectweb.org/hello_world_jms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://celtix.objectweb.org/hello_world_jms/xsd">
    <message name="greetMe">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMeResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sayHi"/>
    <message name="sayHiResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="greetMeOneWay">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <portType name="HelloWorldPortType">
        <operation name="greetMe">
            <input message="tns:greetMe" name="greetMe"/>
            <output message="tns:greetMeResponse" name="greetMeResponse"/>
        </operation>
        <operation name="sayHi">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>
    <binding name="HelloWorldPortBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="HelloWorldService">
           <port binding="tns:HelloWorldPortBinding" name="HelloWorldPort">
              
               <jms:address 
                   destinationStyle="queue" 
                   jndiProviderURL="tcp://localhost:61616" 
                   initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
                   jndiConnectionFactoryName="ConnectionFactory" 
                   jndiDestinationName="dynamicQueues/test.celtix.jmstransport"
                   messageType="text"
                   useMessageIDAsCorrelationID="true"   
                   durableSubscriberName="Celtix_subscriber"
               />
               <soap:address location="http://celtix.objectweb.org/transports/jms"/>
           </port>
    </service>
</definitions>


