rt/databinding/jaxb/src/test/resources/wsdl/jaxb/misc_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cxf.apache.org/jaxb_misc"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.apache.org/jaxb_misc">
    <xs:complexType name="Base64WithDefaultValueType">
        <xs:sequence>
            <xs:element name="EndPart" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="AttributeWithDefaultValue" type="xs:base64Binary" default="1223" />
    </xs:complexType>
</schema>