tools/wsdl2java/src/test/resources/wsdl/bug305728/hello_world_types2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://objectweb.org/hello_world/types" 
    elementFormDefault="qualified">

    <element name="sayHi">
        <complexType>
            <attribute name="lang" type="string"/>
        </complexType>
    </element>
    <element name="sayHiResponse">
        <complexType>
            <sequence>
                <element name="responseType" type="string"/>
            </sequence>
            <attribute name="lang" type="string"/>
        </complexType>
    </element>
</xsd:schema>
