testutils/src/main/resources/wsdl/attachment_types.wsdl

<wsdl:definitions name="SOAPBuilders-mtom-cr-test"
		  xmlns:types="http://cxf.apache.org/bindings/soap2/attachments/types"
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		  xmlns:tns="http://cxf.apache.org/bindings/soap2/attachments"
		  targetNamespace="http://cxf.apache.org/bindings/soap2/attachments">
    <wsdl:types>
	<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://cxf.apache.org/bindings/soap2/attachments/types"
		xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
		elementFormDefault="qualified"
		xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd">
	    <import namespace="http://ws-i.org/profiles/basic/1.1/xsd"/>
	    <complexType name="DetailType">
		<sequence>
		    <element name="sName" type="string"/>
		    <element name="photo" type="base64Binary"
			     xmime:expectedContentTypes="image/jpeg"/>
		    <element name="sound" type="base64Binary"/>
		</sequence>
	    </complexType>
	    <element name="claimForm" type="ref:swaRef"/>
	    <element name="claimFormResponse" type="ref:swaRef"/>
	    <element name="Detail" type="types:DetailType"/>
	    <element name="DetailResponse" type="types:DetailType"/>
	    <element name="data" type="base64Binary"/>
	</schema>
	<xsd:schema targetNamespace="http://ws-i.org/profiles/basic/1.1/xsd" 
		    xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
	    <xsd:simpleType name="swaRef"> 
		<xsd:restriction base="xsd:anyURI" /> 
	    </xsd:simpleType> 
	</xsd:schema>
    </wsdl:types>
</wsdl:definitions>