testutils/src/main/resources/wsdl/hello_world_xml_bare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloWorld" targetNamespace="http://apache.org/hello_world_xml_http/bare" 
		  xmlns="http://schemas.xmlsoap.org/wsdl/"
		  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		  xmlns:xformat="http://cxf.apache.org/bindings/xmlformat" 
		  xmlns:tns="http://apache.org/hello_world_xml_http/bare"
		  xmlns:x1="http://apache.org/hello_world_xml_http/bare/types"
		  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <wsdl:types>
    <schema targetNamespace="http://apache.org/hello_world_xml_http/bare/types" 
	    xmlns="http://www.w3.org/2001/XMLSchema" 
	    elementFormDefault="qualified">

      <element name="responseType" type="xsd:string"/>
      <element name="requestType" type="xsd:string"/>

      <complexType name="myComplexStruct">
	<sequence>
	  <element name="elem1" type="xsd:string"/>
	  <element name="elem2" type="xsd:string"/>
	  <element name="elem3" type="xsd:int"/>
	</sequence>
      </complexType>
    </schema>
  </wsdl:types>
  
  <wsdl:message name="sayHiRequest"/>
  
  <wsdl:message name="sayHiResponse">
    <wsdl:part type="xsd:string" name="out"/>
  </wsdl:message>
  
  <wsdl:message name="greetMeRequest">
    <wsdl:part element="x1:requestType" name="me"/>
  </wsdl:message>
  
  <wsdl:message name="greetMeResponse">
    <wsdl:part element="x1:responseType" name="theResponse"/>
  </wsdl:message>
  
  <wsdl:message name="sendReceiveDataRequest">
    <wsdl:part type="x1:myComplexStruct" name="in"/>
  </wsdl:message>
  
  <wsdl:message name="sendReceiveDataResponse">
    <wsdl:part type="x1:myComplexStruct" name="out"/>
  </wsdl:message>
  
  <wsdl:portType name="Greeter">
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHiRequest" name="sayHiRequest"/>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"/>
    </wsdl:operation>
    <wsdl:operation name="greetMe">
      <wsdl:input message="tns:greetMeRequest" name="greetMeRequest"/>
      <wsdl:output message="tns:greetMeResponse" name="greetMeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendReceiveData">
      <wsdl:input message="tns:sendReceiveDataRequest" name="SendReceiveDataRequest"/>
      <wsdl:output message="tns:sendReceiveDataResponse" name="SendReceiveDataResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="Greeter_XMLBinding" type="tns:Greeter">
    <xformat:binding/>
    <wsdl:operation name="sayHi">
      <wsdl:input>
	<xformat:body rootNode="tns:sayHi"/>
      </wsdl:input>
      <wsdl:output/>
    </wsdl:operation>
    
    <wsdl:operation name="greetMe">
      <wsdl:input/>
      <wsdl:output/>
    </wsdl:operation>
    
    <wsdl:operation name="sendReceiveData">
      <wsdl:input/>
      <wsdl:output/>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="XMLService">
    <wsdl:port binding="tns:Greeter_XMLBinding" name="XMLPort">
      <http:address location="http://localhost:9090/XMLService/XMLPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
