testutils/src/main/resources/wsdl/mapping-doc-literal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--WSDL file template-->
<!--Created by IONA Artix Designer-->
<definitions name="mapping.wsdl" targetNamespace="http://www.iona.com/artix/mapping" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.iona.com/artix/mapping" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="http://www.iona.com/artix/mapping" 
            xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="doSomething">
                <complexType>
                    <sequence>
                        <element name="x" type="int"/>
                        <element name="y" type="long"/>
                    </sequence>
                </complexType>
            </element>
            <element name="doSomethingResponse">
                <complexType>
                    <sequence>
                        <element name="y" type="long"/>
                        <element name="z" type="float"/>
                        <element name="return" type="boolean"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="doSomething">
        <part element="tns:doSomething" name="parameters"/>
    </message>
    <message name="doSomethingResponse">
        <part element="tns:doSomethingResponse" name="parameters"/>
    </message>
    <portType name="SomethingServer">
        <operation name="doSomething">
            <input message="tns:doSomething" name="doSomething"/>
            <output message="tns:doSomethingResponse" name="doSomethingResponse"/>
        </operation>
    </portType>
    <binding name="SomethingServerSOAPBinding" type="tns:SomethingServer">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="doSomething">
            <soap:operation soapAction="" style="document"/>
            <input name="doSomething">
                <soap:body use="literal"/>
            </input>
            <output name="doSomethingResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SomethingService">
        <port binding="tns:SomethingServerSOAPBinding" name="SOAPOverHTTPPort">
            <soap:address location="http://localhost:9010/Something"/>
        </port>
    </service>
</definitions>
