tools/wsdl2java/src/test/resources/wsdl/extra/artixparsexml.wsdl

<wsdl:definitions targetNamespace="http://tempuri.org/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://tempuri.org/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:types>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://www.w3.org/2001/XMLSchema" />
	<s:complexType name="OccuringChoice">
	    <s:choice minOccurs="1" maxOccurs="5">
		<s:element name="varFloat" type="s:float"/>
		<s:element name="varInt" type="s:int"/>
		<s:element name="varString" type="s:string"/>
	    </s:choice>
	</s:complexType>


         <s:element name="sendAdoXml2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ds">
                     <s:complexType>
                        <s:sequence>
                           <s:element name="NewDataSet2">
				<s:complexType>
				    <s:sequence maxOccurs="unbounded">
					<s:element name="Cust2">
					    <s:complexType>
						<s:sequence>
						    <s:element minOccurs="0" name="EmployeeID" 
							type="s:int"/>
						    <s:element minOccurs="0" name="LastName" 
							type="s:string"/>
						</s:sequence>
					    </s:complexType>
					</s:element>
				    </s:sequence>
				</s:complexType>
			    </s:element>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>

         <s:element name="sendAdoXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ds">
                     <s:complexType>
                        <s:sequence>
                           <s:element name="NewDataSet">
				<s:complexType>
				    <s:choice maxOccurs="unbounded">
					<s:element name="Cust">
					    <s:complexType>
						<s:sequence>
						    <s:element minOccurs="0" name="EmployeeID" 
							type="s:int"/>
						    <s:element minOccurs="0" name="LastName" 
							type="s:string"/>
						    <s:element minOccurs="0" name="FirstName" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Title" type="s:string"/>
						    <s:element minOccurs="0" name="TitleOfCourtesy" 
							type="s:string"/>
						    <s:element minOccurs="0" name="BirthDate" 
							type="s:dateTime"/>
						    <s:element minOccurs="0" name="HireDate" 
							type="s:dateTime"/>
						    <s:element minOccurs="0" name="Address" 
							type="s:string"/>
						    <s:element minOccurs="0" name="City" type="s:string"/>
						    <s:element minOccurs="0" name="Region" 
							type="s:string"/>
						    <s:element minOccurs="0" name="PostalCode" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Country" 
							type="s:string"/>
						    <s:element minOccurs="0" name="HomePhone" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Extension" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Notes" type="s:string"/>
						    <s:element minOccurs="0" name="ReportsTo" 
							type="s:int"/>
						</s:sequence>
					    </s:complexType>
					</s:element>
				    </s:choice>
				</s:complexType>
			    </s:element>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="sendAdoXmlResponse">
            <s:complexType />
         </s:element>
         <s:element name="receiveAdoXml">
            <s:complexType />
         </s:element>
         <s:element name="receiveAdoXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="receiveAdoXmlResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element name="NewDataSet">
				<s:complexType>
				    <s:choice maxOccurs="unbounded">
					<s:element name="Cust">
					    <s:complexType>
						<s:sequence>
						    <s:element minOccurs="0" name="EmployeeID" 
							type="s:int"/>
						    <s:element minOccurs="0" name="LastName" 
							type="s:string"/>
						    <s:element minOccurs="0" name="FirstName" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Title" type="s:string"/>
						    <s:element minOccurs="0" name="TitleOfCourtesy" 
							type="s:string"/>
						    <s:element minOccurs="0" name="BirthDate" 
							type="s:dateTime"/>
						    <s:element minOccurs="0" name="HireDate" 
							type="s:dateTime"/>
						    <s:element minOccurs="0" name="Address" 
							type="s:string"/>
						    <s:element minOccurs="0" name="City" type="s:string"/>
						    <s:element minOccurs="0" name="Region" 
							type="s:string"/>
						    <s:element minOccurs="0" name="PostalCode" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Country" 
							type="s:string"/>
						    <s:element minOccurs="0" name="HomePhone" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Extension" 
							type="s:string"/>
						    <s:element minOccurs="0" name="Notes" type="s:string"/>
						    <s:element minOccurs="0" name="ReportsTo" 
							type="s:int"/>
						</s:sequence>
					    </s:complexType>
					</s:element>
				    </s:choice>
				</s:complexType>
			    </s:element>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </wsdl:types>
   <wsdl:message name="sendAdoXmlSoapIn">
      <wsdl:part name="parameters" element="tns:sendAdoXml" />
   </wsdl:message>
   <wsdl:message name="sendAdoXmlSoapOut">
      <wsdl:part name="parameters" element="tns:sendAdoXmlResponse" />
   </wsdl:message>
   <wsdl:message name="receiveAdoXmlSoapIn">
      <wsdl:part name="parameters" element="tns:receiveAdoXml" />
   </wsdl:message>
   <wsdl:message name="receiveAdoXmlSoapOut">
      <wsdl:part name="parameters" element="tns:receiveAdoXmlResponse" />
   </wsdl:message>
   <wsdl:portType name="Service1Soap">
      <wsdl:operation name="sendAdoXml">
         <wsdl:input message="tns:sendAdoXmlSoapIn" />
         <wsdl:output message="tns:sendAdoXmlSoapOut" />
      </wsdl:operation>
      <wsdl:operation name="receiveAdoXml">
         <wsdl:input message="tns:receiveAdoXmlSoapIn" />
         <wsdl:output message="tns:receiveAdoXmlSoapOut" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="sendAdoXml">
         <soap:operation soapAction="http://tempuri.org/sendAdoXml" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="receiveAdoXml">
         <soap:operation soapAction="http://tempuri.org/receiveAdoXml" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service1">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
         <soap:address location="http://localhost/sendADO/Service1.asmx" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>


