tools/wsdl2java/src/test/resources/wsdl/extra/compound1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SoapInteropCompound" targetNamespace="http://soapinterop/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:typens="http://soapinterop/types/" xmlns:wsdlns="http://soapinterop/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="http://soapinterop/types/" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <element name="x_Person" type="typens:Person"/>
            <element name="result_Person" type="typens:Person"/>
            <element name="x_Document" type="typens:Document"/>
            <element name="result_Document" type="typens:Document"/>
            <complexType name="Person">
                <sequence>
                    <element name="Age" type="xsd:double"/>
                    <element name="ID" type="xsd:float"/>
                </sequence>
                <attribute name="Name" type="xsd:string"/>
                <attribute name="Male" type="xsd:boolean"/>
            </complexType>
            <complexType name="Document">
                <simpleContent>
                    <extension base="xsd:string">
                        <attribute name="ID" type="xsd:string"/>
                    </extension>
                </simpleContent>
            </complexType>
        </schema>
    </types>
    <message name="echoPerson">
        <part element="typens:x_Person" name="x"/>
    </message>
    <message name="echoPersonResponse">
        <part element="typens:result_Person" name="Result"/>
    </message>
    <message name="echoDocument">
        <part element="typens:x_Document" name="x"/>
    </message>
    <message name="echoDocumentResponse">
        <part element="typens:result_Document" name="Result"/>
    </message>
    <portType name="SoapInteropCompound1PortType">
        <operation name="echoPerson" parameterOrder="x">
            <input message="wsdlns:echoPerson" name="echoPerson"/>
            <output message="wsdlns:echoPersonResponse" name="echoPersonResponse"/>
        </operation>
        <operation name="echoDocument" parameterOrder="x">
            <input message="wsdlns:echoDocument" name="echoDocument"/>
            <output message="wsdlns:echoDocumentResponse" name="echoDocumentResponse"/>
        </operation>
    </portType>
    <binding name="SoapInteropCompound1Binding" 
        type="wsdlns:SoapInteropCompound1PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoPerson">
            <soap:operation soapAction="http://soapinterop/echoPerson" style="document"/>
            <input name="echoPerson">
                <soap:body use="literal"/>
            </input>
            <output name="echoPersonResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoDocument">
            <soap:operation soapAction="http://soapinterop/echoDocument" style="document"/>
            <input name="echoDocument">
                <soap:body use="literal"/>
            </input>
            <output name="echoDocumentResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Compound1">
        <port binding="wsdlns:SoapInteropCompound1Binding" 
            name="SoapInteropCompound1Port">
            <soap:address location="http://mssoapinterop.org/stkV3/wsdl/Compound1.wsdl"/>
        </port>
    </service>
</definitions>
