tools/wsdl2java/src/test/resources/wsdl/extra/faults.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="exceptionTestService" targetNamespace="http://xmlbus.com/exception" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://xmlbus.com/exception" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://xmlbus.com/exception/xsd">
    <types>
        <schema targetNamespace="http://xmlbus.com/exception/xsd" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <complexType name="ArrayOfstring">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ComplexUserException">
                <sequence>
                    <element name="Values" type="xsd1:ArrayOfstring"/>
                    <element name="Code" type="xsd:int"/>
                    <element name="Reason" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ConversionException">
                <sequence/>
            </complexType>
            <complexType name="SimpleUserException">
                <sequence>
                    <element name="Reason" type="xsd:string"/>
                </sequence>
            </complexType>


            <element name="str" type="xsd:string"/>
        </schema>
    </types>
    <message name="throwComplexException">
        <part name="floatParam0" type="xsd:float"/>
    </message>
    <message name="throwComplexExceptionResponse">
        <part name="return" type="xsd:float"/>
    </message>
    <message name="ComplexUserException">
        <part name="ComplexUserException" type="xsd1:ComplexUserException"/>
    </message>
    <message name="throwEmptyException">
        <part name="floatParam0" type="xsd:float"/>
    </message>
    <message name="throwEmptyExceptionResponse">
        <part name="return" type="xsd:float"/>
    </message>
    <message name="ConversionException">
        <part name="ConversionException" type="xsd1:ConversionException"/>
    </message>
    <message name="throwSimpleException">
        <part name="floatParam0" type="xsd:float"/>
    </message>
    <message name="throwSimpleExceptionResponse">
        <part name="return" type="xsd:float"/>
    </message>
    <message name="SimpleUserException">
        <part name="SimpleUserException" type="xsd1:SimpleUserException"/>
    </message>
    <message name="PrimitiveElementException">
        <part name="str" element="xsd1:str"/>
    </message>
    <message name="PrimitiveException">
        <part name="str" type="xsd:string"/>
    </message>
    <message name="throw2Exceptions">
        <part name="floatParam0" type="xsd:float"/>
    </message>
    <message name="throw2ExceptionsResponse"/>
    <portType name="exceptionTestPortType">
        <operation name="throwComplexException">
            <input message="tns:throwComplexException" name="throwComplexException"/>
            <output message="tns:throwComplexExceptionResponse" 
                name="throwComplexExceptionResponse"/>
            <fault message="tns:ComplexUserException" name="ComplexUserException"/>
        </operation>
        <operation name="throwEmptyException">
            <input message="tns:throwEmptyException" name="throwEmptyException"/>
            <output message="tns:throwEmptyExceptionResponse" 
                name="throwEmptyExceptionResponse"/>
            <fault message="tns:ConversionException" name="ConversionException"/>
        </operation>
        <operation name="throwSimpleException">
            <input message="tns:throwSimpleException" name="throwSimpleException"/>
            <output message="tns:throwSimpleExceptionResponse" 
                name="throwSimpleExceptionResponse"/>
            <fault message="tns:SimpleUserException" name="SimpleUserException"/>
        </operation>
        <operation name="throw2Exceptions">
            <input message="tns:throw2Exceptions" name="throw2Exceptions"/>
            <output message="tns:throw2ExceptionsResponse" 
                name="throw2ExceptionsResponse"/>
            <fault message="tns:ComplexUserException" name="ComplexUserException"/>
            <fault message="tns:SimpleUserException" name="SimpleUserException"/>
            <fault message="tns:PrimitiveException" name="PrimitiveException"/>
            <fault message="tns:PrimitiveElementException" name="PrimitiveElementException"/>
        </operation>
    </portType>
    <binding name="exceptionTestPortBinding" type="tns:exceptionTestPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="throwComplexException">
            <soap:operation soapAction="" style="rpc"/>
            <input name="throwComplexException">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </input>
            <output name="throwComplexExceptionResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </output>
            <fault name="ComplexUserException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="ComplexUserException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
        </operation>
        <operation name="throwEmptyException">
            <soap:operation soapAction="" style="rpc"/>
            <input name="throwEmptyException">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </input>
            <output name="throwEmptyExceptionResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </output>
            <fault name="ConversionException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="ConversionException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
        </operation>
        <operation name="throwSimpleException">
            <soap:operation soapAction="" style="rpc"/>
            <input name="throwSimpleException">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </input>
            <output name="throwSimpleExceptionResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </output>
            <fault name="SimpleUserException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="SimpleUserException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
        </operation>
        <operation name="throw2Exceptions">
            <soap:operation soapAction="" style="rpc"/>
            <input name="throw2Exceptions">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </input>
            <output name="throw2ExceptionsResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://xmlbus.com/exception" use="encoded"/>
            </output>
            <fault name="ComplexUserException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="ComplexUserException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
            <fault name="SimpleUserException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="SimpleUserException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
            <fault name="SimpleUserException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="SimpleUserException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
            <fault name="PrimitiveException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="PrimitiveException" namespace="http://xmlbus.com/exception" 
                    use="encoded"/>
            </fault>
            <fault name="PrimitiveElementException">
                <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    name="PrimitiveElementException" namespace="http://xmlbus.com/exception" 
                    use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="exceptionTestService">
        <port binding="tns:exceptionTestPortBinding" name="exceptionTestPort">
            <soap:address 
                location="http://localhost:8080/xmlbus/container/exception/exceptionService/exceptionPort/"/>
        </port>
    </service>
</definitions>
