celtix-testutils/src/main/resources/wsdl/hello_world_xml_wrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloWorld" targetNamespace="http://objectweb.org/hello_world_xml_http/wrapped" 
		  xmlns="http://schemas.xmlsoap.org/wsdl/" 
		  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		  xmlns:tns="http://objectweb.org/hello_world_xml_http/wrapped"
		  xmlns:x1="http://objectweb.org/hello_world_xml_http/wrapped/types"
		  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		  xmlns:xformat="http://celtix.objectweb.org/bindings/xmlformat" 
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://objectweb.org/hello_world_xml_http/wrapped/types" 
	    xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <element name="sayHi">
	<complexType/>
      </element>
      <element name="sayHiResponse">
	<complexType>
	  <sequence>
	    <element name="responseType" type="xsd:string"/>
	  </sequence>
	</complexType>
      </element>
      <element name="greetMe">
	<complexType>
	  <sequence>
	    <element name="requestType" type="xsd:string"/>
	  </sequence>
	</complexType>
      </element>
      <element name="greetMeResponse">
	<complexType>
	  <sequence>
	    <element name="responseType" type="xsd:string"/>
	  </sequence>
	</complexType>
      </element>
      <element name="greetMeOneWay">
	<complexType>
	  <sequence>
	    <element name="requestType" type="xsd:string"/>
	  </sequence>
	</complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="sayHiRequest">
    <wsdl:part element="x1:sayHi" name="in"/>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="x1:sayHiResponse" name="out"/>
  </wsdl:message>
  <wsdl:message name="greetMeRequest">
    <wsdl:part element="x1:greetMe" name="in"/>
  </wsdl:message>
  <wsdl:message name="greetMeResponse">
    <wsdl:part element="x1:greetMeResponse" name="out"/>
  </wsdl:message>
  <wsdl:message name="greetMeOneWayRequest">
    <wsdl:part element="x1:greetMeOneWay" name="in"/>
  </wsdl:message>
  
  <wsdl:portType name="Greeter">
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHiRequest" name="sayHiRequest"/>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="greetMe">
      <wsdl:input message="tns:greetMeRequest" name="greetMeRequest"/>
      <wsdl:output message="tns:greetMeResponse" name="greetMeResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="greetMeOneWay">
      <wsdl:input message="tns:greetMeOneWayRequest" name="greetMeOneWayRequest"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="Greeter_XMLBinding" type="tns:Greeter">
    <xformat:binding/>

    <wsdl:operation name="sayHi">
      <wsdl:input name="sayHiRequest"/>
      <wsdl:output name="sayHiResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="greetMe">
      <wsdl:input name="greetMeRequest"/>
      <wsdl:output name="greetMeResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="greetMeOneWay">
      <wsdl:input name="greetMeOneWayRequest"/>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="XMLService">
    <wsdl:port binding="tns:Greeter_XMLBinding" name="XMLPort">
      <http:address location="http://localhost:9000/XMLService/XMLPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

