celtix-testutils/src/main/resources/wsdl/jms_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HelloWorldService" targetNamespace="http://celtix.objectweb.org/hello_world_jms" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:jms="http://celtix.objectweb.org/transports/jms" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://celtix.objectweb.org/hello_world_jms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://celtix.objectweb.org/hello_world_jms/xsd">
    <message name="greetMe">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    <message name="greetMeResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sayHi"/>
    <message name="sayHiResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="greetMeOneWay">
        <part name="stringParam0" type="xsd:string"/>
    </message>
    
    <portType name="HelloWorldPortType">
        <operation name="greetMe">
            <input message="tns:greetMe" name="greetMe"/>
            <output message="tns:greetMeResponse" name="greetMeResponse"/>
        </operation>
        <operation name="sayHi">
            <input message="tns:sayHi" name="sayHi"/>
            <output message="tns:sayHiResponse" name="sayHiResponse"/>
        </operation>
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>
    
    <portType name="HelloWorldOneWayPort">
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>
    
    <portType name="HelloWorldPubSubPort">
        <operation name="greetMeOneWay">
            <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
        </operation>
    </portType>
    
    <binding name="HelloWorldPortBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>

    <binding name="HelloWorldQueueBinMsgBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    
    <binding name="HWStaticReplyQTextPortBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>

    <binding name="HWStaticReplyQBinMsgBinding" type="tns:HelloWorldPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMe">
            <soap:operation soapAction="" style="rpc"/>
            <input name="greetMe">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="greetMeResponse">
                <soap:body  
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="sayHi">
            <soap:operation soapAction="" style="rpc"/>
            <input name="sayHi">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
            <output name="sayHiResponse">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </output>
        </operation>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    
    
    <binding name="HelloWorldOneWayBinding" type="tns:HelloWorldOneWayPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="greetMeOneWay">
            <soap:operation style="rpc"/>
            <input name="greetMeOneWay">
                <soap:body 
                    namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
            </input>
        </operation>
    </binding>
    
     <binding name="HelloWorldPubSubBinding" type="tns:HelloWorldPubSubPort">
            <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="greetMeOneWay">
                <soap:operation style="rpc"/>
                <input name="greetMeOneWay">
                    <soap:body 
                        namespace="http://celtix.objectweb.org/hello_world_jms" use="literal"/>
                </input>
            </operation>
    </binding>
    
    <service name="HelloWorldQueueBinMsgService">
        <port binding="tns:HelloWorldQueueBinMsgBinding" name="HelloWorldQueueBinMsgPort">
            <jms:address 
               destinationStyle="queue" 
               jndiProviderURL="tcp://localhost:61500" 
               initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
               jndiConnectionFactoryName="ConnectionFactory" 
               jndiDestinationName="dynamicQueues/test.jmstransport.binary"
               messageType="binary"
               useMessageIDAsCorrelationID="true"
               durableSubscriberName="Celtix_subscriber"
            />
            <soap:address location="http://celtix.objectweb.org/transports/jms"/>
        </port>
    </service>
    
    <service name="HelloWorldService">
           <port binding="tns:HelloWorldPortBinding" name="HelloWorldPort">
              
               <jms:address 
                   destinationStyle="queue" 
                   jndiProviderURL="tcp://localhost:61500" 
                   initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
                   jndiConnectionFactoryName="ConnectionFactory" 
                   jndiDestinationName="dynamicQueues/test.jmstransport.text"
                   messageType="text"
                   useMessageIDAsCorrelationID="true"   
                   durableSubscriberName="Celtix_subscriber"
                   />
               <soap:address location="http://celtix.objectweb.org/transports/jms"/>
           </port>
    </service>
    
    <service name="HWStaticReplyQBinMsgService">
        <port binding="tns:HWStaticReplyQBinMsgBinding" name="HWStaticReplyQBinMsgPort">
            <jms:address 
               destinationStyle="queue" 
               jndiProviderURL="tcp://localhost:61500" 
               initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
               jndiConnectionFactoryName="ConnectionFactory" 
               jndiDestinationName="dynamicQueues/test.jmstransport.binary"
               jndiReplyDestinationName="dynamicQueues/test.jmstransport.binary.reply"
               messageType="binary"
               useMessageIDAsCorrelationID="true"
               durableSubscriberName="Celtix_subscriber"
            />
            <soap:address location="http://celtix.objectweb.org/transports/jms"/>
        </port>
    </service>

    <service name="HWStaticReplyQTextMsgService">
           <port binding="tns:HWStaticReplyQTextPortBinding" name="HWStaticReplyQTextPort">

               <jms:address 
                   destinationStyle="queue" 
                   jndiProviderURL="tcp://localhost:61500" 
                   initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
                   jndiConnectionFactoryName="ConnectionFactory" 
                   jndiDestinationName="dynamicQueues/test.jmstransport.text"
                   jndiReplyDestinationName="dynamicQueues/test.jmstransport.text.reply"
                   messageType="text"
                   useMessageIDAsCorrelationID="true"   
                   durableSubscriberName="Celtix_subscriber"
                   />
               <soap:address location="http://celtix.objectweb.org/transports/jms"/>
           </port>
    </service>
    
    <service name="HelloWorldOneWayQueueService">
        <port binding="tns:HelloWorldOneWayBinding" name="HelloWorldOneWayQueuePort">
            <jms:address
                destinationStyle="queue" 
                jndiProviderURL="tcp://localhost:61500"
                initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
                jndiConnectionFactoryName="ConnectionFactory" 
                jndiDestinationName="dynamicQueues/test.jmstransport.oneway"
                messageType="text"
                useMessageIDAsCorrelationID="true"   
                durableSubscriberName="Celtix_Queue_subscriber"
            />
            <soap:address location="http://celtix.objectweb.org/transports/jms"/>
        </port>
    </service>
    
    <service name="HelloWorldPubSubService">
            <port binding="tns:HelloWorldPubSubBinding" name="HelloWorldPubSubPort">
                <jms:address
                    destinationStyle="topic" 
                    jndiProviderURL="tcp://localhost:61500"
                    initialContextFactory="org.activemq.jndi.ActiveMQInitialContextFactory" 
                    jndiConnectionFactoryName="ConnectionFactory" 
                    jndiDestinationName="dynamicTopics/test.jmstransport.oneway.topic"
                    messageType="text"
                    useMessageIDAsCorrelationID="true"   
                />
                <soap:address location="http://celtix.objectweb.org/transports/jms"/>
            </port>
    </service>
    
</definitions>


