objectweb/trunk/celtix-router/src/test/java/org/objectweb/celtix/routing/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://objectweb.org/header_test" xmlns:x1="http://objectweb.org/header_test/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://objectweb.org/header_test" name="TestHeaderWSDL">
    <wsdl:types>
        <schema targetNamespace="http://objectweb.org/header_test/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:x1="http://objectweb.org/header_test/types" elementFormDefault="qualified">
            <element name="testHeader1">
                <complexType/>
            </element>
            <element name="testHeader1Response">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="testHeader2">
                <complexType>
                    <sequence>
                        <element name="requestType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="testHeader2Response">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="testHeader1Request">
        <wsdl:part name="in" element="x1:testHeader1"/>
        <wsdl:part name="inHeader" element="x1:testHeader1"/>
    </wsdl:message>
    <wsdl:message name="testHeader1Response">
        <wsdl:part name="out" element="x1:testHeader1Response"/>
    </wsdl:message>
    <wsdl:message name="testHeader2Request">
        <wsdl:part name="in" element="x1:testHeader2"/>
    </wsdl:message>
    <wsdl:message name="testHeader2Response">
        <wsdl:part name="out" element="x1:testHeader2Response"/>
        <wsdl:part name="outHeader" element="x1:testHeader2Response"/>
    </wsdl:message>
    <wsdl:portType name="TestHeader">
        <wsdl:operation name="testHeader1">
            <wsdl:input name="testHeader1Request" message="tns:testHeader1Request"/>
            <wsdl:output name="testHeader1Response" message="tns:testHeader1Response"/>
        </wsdl:operation>
        <wsdl:operation name="testHeader2">
            <wsdl:input name="testHeader2Request" message="tns:testHeader2Request"/>
            <wsdl:output name="testHeader2Response" message="tns:testHeader2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestHeader_SOAPBinding" type="tns:TestHeader">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="testHeader1">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
                <soap:header message="tns:testHeader1Request" part="inHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testHeader2">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
                <soap:header message="tns:testHeader2Response" part="outHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
