rt/ws/rm/src/test/java/org/objectweb/celtix/ws/rm/resources/hello_world_rmassertion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:tns="http://objectweb.org/hello_world_soap_http"
    xmlns:x1="http://objectweb.org/hello_world_soap_http/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://objectweb.org/hello_world_soap_http" name="HelloWorld">
    <wsdl:types>
        <schema targetNamespace="http://objectweb.org/hello_world_soap_http/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:x1="http://objectweb.org/hello_world_soap_http/types" elementFormDefault="qualified">
            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    
    <wsdl:message name="greetMeRequest">
        <wsdl:part name="in" element="x1:greetMe"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part name="out" element="x1:greetMeResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="Greeter">       
        <wsdl:operation name="greetMe">
            <wsdl:input name="greetMeRequest" message="tns:greetMeRequest"/>
            <wsdl:output name="greetMeResponse" message="tns:greetMeResponse"/>
        </wsdl:operation>      
    </wsdl:portType>
    
    <wsdl:binding name="SOAPBindingDocLit" type="tns:Greeter">
        <wsp:Policy>
            <wsp:ExactlyOne>
                <wsp:All>
                    <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
                        <wsrm:InactivityTimeout Milliseconds="600000"/>
                        <wsrm:AcknowledgementInterval Milliseconds="200"/>
                    </wsrm:RMAssertion>                
                </wsp:All>
            </wsp:ExactlyOne>
        </wsp:Policy>    
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="greetMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="SOAPBindingDocLitNoPolicy" type="tns:Greeter">    
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="greetMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SOAPService1">
        <wsdl:port name="SoapPort" binding="tns:SOAPBindingDocLit">
            <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="SOAPService2">
        <wsdl:port name="SoapPort" binding="tns:SOAPBindingDocLitNoPolicy">
            <wsp:Policy>
                <wsp:ExactlyOne>
                    <wsp:All>
                        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
                            <wsrm:InactivityTimeout Milliseconds="900000"/>
                            <wsrm:AcknowledgementInterval Milliseconds="400"/>
                        </wsrm:RMAssertion>                
                    </wsp:All>
                </wsp:ExactlyOne>
            </wsp:Policy>    
            <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsdl:service name="SOAPService3">
        <wsdl:port name="SoapPort" binding="tns:SOAPBindingDocLitNoPolicy">
            <wsp:PolicyReference URI="#NoPolicy"/> 
            <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>

