tools/wsdl2java/src/test/resources/wsdl/ab2371.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SimpleContent" targetNamespace="http://soapinterop.org/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://soapinterop.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://soapinterop.org/xsd">

  <types>
    <schema elementFormDefault="qualified"
	 targetNamespace="http://soapinterop.org/xsd"
     xmlns="http://www.w3.org/2001/XMLSchema"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<xsd:complexType name="my_type">
	 <xsd:simpleContent>
	  <xsd:extension base="xsd1:my_module.my_interf.I_State">
	   <xsd:attribute name="my_attribute" use="optional">
		<xsd:simpleType>
		 <xsd:restriction base="xsd:string">
		  <xsd:maxLength value="2"/>
		 </xsd:restriction>
		</xsd:simpleType>
	   </xsd:attribute>
	  </xsd:extension>
	 </xsd:simpleContent>
	</xsd:complexType>
	<element name="my_module.my_interf.foo.a" type="xsd1:my_type"/>

	<xsd:simpleType name="my_module.my_interf.I_State">
		<xsd:restriction base="xsd:string">
		  <xsd:enumeration value="NotSet"/>
		  <xsd:enumeration value="Set"/>
		  <xsd:enumeration value="Null"/>
		</xsd:restriction>
	</xsd:simpleType>
	<element name="my_module.my_interf.foo.b"
type="xsd1:my_module.my_interf.I_State"/>
    </schema>
  </types>

  <message name="my_module.my_interf.foo">
	<part name="a" element="xsd1:my_module.my_interf.foo.a"/>
  </message>
  <message name="my_module.my_interf.fooResponse">
    <part name="b" element="xsd1:my_module.my_interf.foo.b"/>
  </message>

  <portType name="my_module.my_interf">
    <operation name="foo">
      <input message="tns:my_module.my_interf.foo" name="foo"/>
      <output message="tns:my_module.my_interf.fooResponse" name="fooResponse"/>
    </operation>
  </portType>

  <binding name="my_module.my_interfBinding" type="tns:my_module.my_interf">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="foo">
		<soap:operation soapAction="http://soapinterop/echoDocument"
style="document"/>
		<input name="foo">
			<soap:body use="literal"/>
		</input>
		<output name="fooResponse">
			<soap:body use="literal"/>
		</output>
    </operation>
  </binding>

  <service name="my_module.my_interfService">
    <port name="my_module.my_interfPort"
binding="tns:my_module.my_interfBinding">
		<soap:address location="http://localhost:0"/>
    </port>
  </service>
</definitions>