rt2/bindings/soap/src/test/resources/org/objectweb/celtix/bindings/soap2/test-soap-header.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="soap_header" targetNamespace="http://org.objectweb.celtix/headers"
	     xmlns:m="http://travelcompany.example.org/reservation"
	     xmlns:n="http://mycompany.example.com/employees"
	     xmlns="http://schemas.xmlsoap.org/wsdl/" 
	     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	     xmlns:tns="http://org.objectweb.celtix/headers"
	     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<schema targetNamespace="http://org.objectweb.celtix/headers"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<element name="inHeader">
				<complexType>
					<sequence>
						<element name="" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
		
		<schema targetNamespace="http://mycompany.example.com/employees"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">			
			<element name="passenger">
				<complexType>
					<sequence>
						<element name="name" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
		
	</types>

    <message name="inHeaderRequest">
	<part element="tns:inHeader" name="me"/>
	<part element="n:passenger" name="passenger"/>
    </message>
    <message name="inHeaderResponse">
	<part element="tns:inHeaderResponse" name="the_response"/>
    </message>

    <portType name="headerTester">
	<operation name="inHeader">
	    <input message="tns:inHeaderRequest" name="inHeaderRequest"/>
	    <output message="tns:inHeaderResponse" name="inHeaderResponse"/>
	</operation>
    </portType>

    <binding name="headerTesterSOAPBinding" type="tns:headerTester">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="inHeader">
	    <soap:operation soapAction="" style="document"/>
	    <input name="inHeaderRequest">
		<soap:body parts="me" use="literal"/>
		<soap:header message="tns:inHeaderRequest" part="passenger" 
			     use="literal"/>
	    </input>
	    <output name="inHeaderResponse">
		<soap:body use="literal"/>
	    </output>
	</operation>
    </binding>

    <service name="HeaderService">
	<port binding="tns:headerTesterSOAPBinding" name="SoapPort">
	    <soap:address location="http://org.objectweb.celtix/headers"/>
	</port>
    </service>
</definitions>
