distribution/src/main/samples/integration/dotnet/dotnet_server_celtix_client/wsdl/hello_world.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://objectweb.org/hello_world_soap_http" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://objectweb.org/hello_world_soap_http" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://objectweb.org/hello_world_soap_http">
      <s:element name="sayHiReturn" type="s:string" />
      <s:element name="greetMeParam" type="s:string" />
      <s:element name="greetMeReturn" type="s:string" />
    </s:schema>
  </types>
  <message name="sayHiSoapIn" />
  <message name="sayHiSoapOut">
    <part name="sayHiResult" element="s0:sayHiReturn" />
  </message>
  <message name="greetMeSoapIn">
    <part name="greetMeParam" element="s0:greetMeParam" />
  </message>
  <message name="greetMeSoapOut">
    <part name="greetMeResult" element="s0:greetMeReturn" />
  </message>
  <portType name="HelloWorldServiceSoap">
    <operation name="sayHi">
      <input message="s0:sayHiSoapIn" />
      <output message="s0:sayHiSoapOut" />
    </operation>
    <operation name="greetMe">
      <input message="s0:greetMeSoapIn" />
      <output message="s0:greetMeSoapOut" />
    </operation>
  </portType>
  <binding name="HelloWorldServiceSoap" type="s0:HelloWorldServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="sayHi">
      <soap:operation soapAction="http://objectweb.org/hello_world_soap_http/sayHi" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="greetMe">
      <soap:operation soapAction="http://objectweb.org/hello_world_soap_http/greetMe" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HelloWorldService">
    <port name="HelloWorldServiceSoap" binding="s0:HelloWorldServiceSoap">
      <soap:address location="http://localhost/HelloWorld_doclit/HelloWorldService.asmx" />
    </port>
  </service>
</definitions>
