celtix-systests/src/main/resources/wsdl/router_noimport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xformat="http://celtix.objectweb.org/bindings/xmlformat"
    xmlns:jms="http://celtix.objectweb.org/transports/jms"
    xmlns:ns1="http://celtix.objectweb.org/routing/configuration"
    xmlns:tns="http://objectweb.org/hello_world_doc_lit"
    xmlns:x1="http://objectweb.org/hello_world_doc_lit/types"
    targetNamespace="http://objectweb.org/hello_world_doc_lit" name="HelloWorld">
    <!--Route Elements-->
    <ns1:route name="route_0">
        <ns1:source port="HTTPSoapPortSource" service="tns:HTTPSoapServiceSource"/>
        <ns1:destination port="HTTPSoapPortDestination" service="tns:HTTPSoapServiceDestination"/>
    </ns1:route>
    <ns1:route name="route_1">
        <ns1:source port="JMSSoapPortSource" service="tns:JMSSoapServiceSource"/>
        <ns1:destination port="HTTPSoapPortDestination" service="tns:HTTPSoapServiceDestination"/>
    </ns1:route>
    <ns1:route name="route_2">
        <ns1:source port="HTTPSoapPortSource2" service="tns:HTTPSoapServiceSource2"/>
        <ns1:destination port="JMSSoapPortDestination" service="tns:JMSSoapServiceDestination"/>
    </ns1:route>
    <!--Route Elements-->
    <wsdl:types>
        <schema targetNamespace="http://objectweb.org/hello_world_doc_lit/types" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="sayHi">
                <complexType/>
            </element>
            <element name="sayHiResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeOneWay">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="pingMe">
                <complexType/>
            </element>
            <element name="pingMeResponse">
                <complexType/>
            </element>
            <element name="faultDetail">
                <complexType>
                    <sequence>
                        <element name="minor" type="xsd:short"/>
                        <element name="major" type="xsd:short"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sayHiRequest">
        <wsdl:part name="in" element="x1:sayHi"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part name="out" element="x1:sayHiResponse"/>
    </wsdl:message>
    <wsdl:message name="greetMeRequest">
        <wsdl:part name="in" element="x1:greetMe"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part name="out" element="x1:greetMeResponse"/>
    </wsdl:message>
    <wsdl:message name="greetMeOneWayRequest">
        <wsdl:part name="in" element="x1:greetMeOneWay"/>
    </wsdl:message>
    <wsdl:message name="pingMeRequest">
        <wsdl:part name="in" element="x1:pingMe"/>
    </wsdl:message>
    <wsdl:message name="pingMeResponse">
        <wsdl:part name="out" element="x1:pingMeResponse"/>
    </wsdl:message>
    <wsdl:message name="pingMeFault">
        <wsdl:part name="faultDetail" element="x1:faultDetail"/>
    </wsdl:message>
    <wsdl:portType name="Greeter">
        <wsdl:operation name="sayHi">
            <wsdl:input name="sayHiRequest" message="tns:sayHiRequest"/>
            <wsdl:output name="sayHiResponse" message="tns:sayHiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <wsdl:input name="greetMeRequest" message="tns:greetMeRequest"/>
            <wsdl:output name="greetMeResponse" message="tns:greetMeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="greetMeOneWay">
            <wsdl:input name="greetMeOneWayRequest" message="tns:greetMeOneWayRequest"/>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <wsdl:input name="pingMeRequest" message="tns:pingMeRequest"/>
            <wsdl:output name="pingMeResponse" message="tns:pingMeResponse"/>
            <wsdl:fault name="pingMeFault" message="tns:pingMeFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHi">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="greetMeOneWay">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pingMeFault">
                <soap:fault name="pingMeFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Greeter_XMLBinding" type="tns:Greeter">
        <xformat:binding/>
        <wsdl:operation name="sayHi">
            <wsdl:input/>
            <wsdl:output/>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <wsdl:input/>
            <wsdl:output/>
        </wsdl:operation>
        <wsdl:operation name="greetMeOneWay">
            <wsdl:input/>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <wsdl:input/>
            <wsdl:output/>
            <wsdl:fault name="pingMeFault"/>
        </wsdl:operation>
    </wsdl:binding>

    <!--Used for SOAP HTTP_HTTP Router Test-->
    <wsdl:service name="HTTPSoapServiceSource">
        <wsdl:port name="HTTPSoapPortSource" binding="tns:Greeter_SOAPBinding">
            <soap:address location="http://localhost:9001/SOAPDocLitService/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="HTTPSoapServiceDestination">
        <wsdl:port name="HTTPSoapPortDestination" binding="tns:Greeter_SOAPBinding">
            <soap:address location="http://localhost:9002/HTTPSoapServiceDestination/HTTPSoapPortDestination"/>
        </wsdl:port>
    </wsdl:service>
    <!--END-->

    <!--Used for SOAP JMS_HTTP Router Test-->
    <wsdl:service name="JMSSoapServiceSource">
        <wsdl:port name="JMSSoapPortSource" binding="tns:Greeter_SOAPBinding">
               <jms:address
                   jndiConnectionFactoryName="ConnectionFactory"
                   jndiDestinationName="dynamicQueues/routertest.SOAPService2Q.text">
                   <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                   <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
               </jms:address>
        </wsdl:port>
    </wsdl:service>
    <!--END-->

    <!--Used for SOAP HTTP_JMS Router Test-->
    <wsdl:service name="HTTPSoapServiceSource2">
        <wsdl:port name="HTTPSoapPortSource2" binding="tns:Greeter_SOAPBinding">
        <soap:address location="http://localhost:9001/SOAPService3/SoapPort3"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="JMSSoapServiceDestination">
        <wsdl:port name="JMSSoapPortDestination" binding="tns:Greeter_SOAPBinding">
               <jms:address
                   jndiConnectionFactoryName="ConnectionFactory"
                   jndiDestinationName="dynamicQueues/routertest.SOAPService4Q.text">
                   <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                   <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
               </jms:address>
        </wsdl:port>
    </wsdl:service>
    <!--END-->
</wsdl:definitions>
