celtix-systests/src/main/resources/wsdl/router.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xformat="http://celtix.objectweb.org/bindings/xmlformat"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:jms="http://celtix.objectweb.org/transports/jms"
    xmlns:ns1="http://celtix.objectweb.org/routing/configuration"
    xmlns:tns="http://objectweb.org/hello_world_doc_lit"
    xmlns:x1="http://objectweb.org/hello_world_doc_lit/types"
    targetNamespace="http://objectweb.org/hello_world_doc_lit" name="HelloWorld">
    <!--Route Elements-->
    <ns1:route name="route_0">
        <ns1:source port="SOAPHTTPPortSource1" service="tns:SOAPHTTPServiceSource1"/>
        <ns1:destination port="XMLHTTPPortDestination" service="tns:XMLHTTPServiceDestination"/>
    </ns1:route>
    <ns1:route name="route_1">
        <ns1:source port="SOAPHTTPPortSource2" service="tns:SOAPHTTPServiceSource2"/>
        <ns1:destination port="XMLJMSPortDestination" service="tns:XMLJMSServiceDestination"/>
    </ns1:route>
    <ns1:route name="route_2">
        <ns1:source port="SOAPJMSPortSource" service="tns:SOAPJMSServiceSource"/>
        <ns1:destination port="XMLHTTPPortDestination" service="tns:XMLHTTPServiceDestination"/>
    </ns1:route>
    <ns1:route name="route_3">
        <ns1:source port="XMLHTTPPortSource" service="tns:XMLHTTPServiceSource"/>
        <ns1:destination port="SOAPJMSPortDestination" service="tns:SOAPJMSServiceDestination"/>
    </ns1:route>
<!--
    <ns1:route name="route_4">
        <ns1:source port="XMLJMSPortSource" service="tns:XMLJMSServiceSource"/>
        <ns1:destination port="SOAPHTTPPortDestination" service="tns:SOAPHTTPServiceDestination"/>
    </ns1:route>
-->
    <!--Route Elements-->
    <wsdl:types>
        <schema targetNamespace="http://objectweb.org/hello_world_doc_lit/types" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <element name="sayHi">
                <complexType/>
            </element>
            <element name="sayHiResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMe">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeResponse">
                <complexType>
                    <sequence>
                        <element name="responseType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="greetMeOneWay">
                <complexType>
                    <sequence>
                        <element name="requestType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="pingMe">
                <complexType/>
            </element>
            <element name="pingMeResponse">
                <complexType/>
            </element>
            <element name="faultDetail">
                <complexType>
                    <sequence>
                        <element name="minor" type="xsd:short"/>
                        <element name="major" type="xsd:short"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sayHiRequest">
        <wsdl:part name="in" element="x1:sayHi"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part name="out" element="x1:sayHiResponse"/>
    </wsdl:message>
    <wsdl:message name="greetMeRequest">
        <wsdl:part name="in" element="x1:greetMe"/>
    </wsdl:message>
    <wsdl:message name="greetMeResponse">
        <wsdl:part name="out" element="x1:greetMeResponse"/>
    </wsdl:message>
    <wsdl:message name="greetMeOneWayRequest">
        <wsdl:part name="in" element="x1:greetMeOneWay"/>
    </wsdl:message>
    <wsdl:message name="pingMeRequest">
        <wsdl:part name="in" element="x1:pingMe"/>
    </wsdl:message>
    <wsdl:message name="pingMeResponse">
        <wsdl:part name="out" element="x1:pingMeResponse"/>
    </wsdl:message>
    <wsdl:message name="pingMeFault">
        <wsdl:part name="faultDetail" element="x1:faultDetail"/>
    </wsdl:message>
    <wsdl:portType name="Greeter">
        <wsdl:operation name="sayHi">
            <wsdl:input name="sayHiRequest" message="tns:sayHiRequest"/>
            <wsdl:output name="sayHiResponse" message="tns:sayHiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <wsdl:input name="greetMeRequest" message="tns:greetMeRequest"/>
            <wsdl:output name="greetMeResponse" message="tns:greetMeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="greetMeOneWay">
            <wsdl:input name="greetMeOneWayRequest" message="tns:greetMeOneWayRequest"/>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <wsdl:input name="pingMeRequest" message="tns:pingMeRequest"/>
            <wsdl:output name="pingMeResponse" message="tns:pingMeResponse"/>
            <wsdl:fault name="pingMeFault" message="tns:pingMeFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHi">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="greetMeOneWay">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pingMeFault">
                <soap:fault name="pingMeFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Greeter_XMLBinding" type="tns:Greeter">
        <xformat:binding/>
        <wsdl:operation name="sayHi">
            <wsdl:input/>
            <wsdl:output/>
        </wsdl:operation>
        <wsdl:operation name="greetMe">
            <wsdl:input/>
            <wsdl:output/>
        </wsdl:operation>
        <wsdl:operation name="greetMeOneWay">
            <wsdl:input/>
        </wsdl:operation>
        <wsdl:operation name="pingMe">
            <wsdl:input/>
            <wsdl:output/>
            <wsdl:fault name="pingMeFault"/>
        </wsdl:operation>
    </wsdl:binding>

    <!--Used for SOAP_HTTP-XML_HTTP Router Test-->
    <wsdl:service name="SOAPHTTPServiceSource1">
        <wsdl:port name="SOAPHTTPPortSource1" binding="tns:Greeter_SOAPBinding">
            <soap:address location="http://localhost:9001/SOAPDocLitService/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="XMLHTTPServiceDestination">
        <wsdl:port name="XMLHTTPPortDestination" binding="tns:Greeter_XMLBinding">
            <http:address location="http://localhost:9002/XMLService1/XMLPort1"/>
        </wsdl:port>
    </wsdl:service>
    <!--END-->

    <!--Used for XML_JMS-to-SOAP_HTTP Router Test-->
    <wsdl:service name="SOAPHTTPServiceSource2">
        <wsdl:port name="SOAPHTTPPortSource2" binding="tns:Greeter_SOAPBinding">
        <soap:address location="http://localhost:9001/SOAPService3/SoapPort3"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="XMLJMSServiceDestination">
        <wsdl:port name="XMLJMSPortDestination" binding="tns:Greeter_XMLBinding">
               <jms:address
                   jndiConnectionFactoryName="ConnectionFactory"
                   jndiDestinationName="dynamicQueues/routertest.XMLService2Q.text">
                   <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                   <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
               </jms:address>
        </wsdl:port>
    </wsdl:service>
    <!--END-->

    <!--Used for XML_JMS-to-SOAP_HTTP Router Test-->
    <wsdl:service name="XMLJMSServiceSource">
        <wsdl:port name="XMLJMSPortSource" binding="tns:Greeter_XMLBinding">
            <jms:address
                jndiConnectionFactoryName="ConnectionFactory"
                jndiDestinationName="dynamicQueues/routertest.XMLService3Q.text">
                <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
            </jms:address>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="SOAPHTTPServiceDestination">
        <wsdl:port name="SOAPHTTPPortDestination" binding="tns:Greeter_SOAPBinding">
            <soap:address location="http://localhost:9002/SOAPService5/SoapPort5"/>
        </wsdl:port>
    </wsdl:service>
    <!--END-->
    <!--Used for SOAP_JMS-to-XML_HTTP Router Test-->
    <wsdl:service name="SOAPJMSServiceSource">
        <wsdl:port name="SOAPJMSPortSource" binding="tns:Greeter_SOAPBinding">
            <jms:address
                jndiConnectionFactoryName="ConnectionFactory"
                jndiDestinationName="dynamicQueues/routertest.SOAPService4Q.text">
                <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
            </jms:address>
        </wsdl:port>
    </wsdl:service>
    <!--Used for XML_HTTP-to-SOAP_JMS Router Test-->
    <wsdl:service name="XMLHTTPServiceSource">
        <wsdl:port name="XMLHTTPPortSource" binding="tns:Greeter_XMLBinding">
            <http:address location="http://localhost:9001/XMLService4/XMLPort4"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="SOAPJMSServiceDestination">
        <wsdl:port name="SOAPJMSPortDestination" binding="tns:Greeter_SOAPBinding">
               <jms:address
                   jndiConnectionFactoryName="ConnectionFactory"
                   jndiDestinationName="dynamicQueues/routertest.SOAPService2Q.text">
                   <jms:JMSNamingProperty name="java.naming.factory.initial" value="org.activemq.jndi.ActiveMQInitialContextFactory"/>
                   <jms:JMSNamingProperty name="java.naming.provider.url" value="tcp://localhost:61500"/>
               </jms:address>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
